<section>
  <h1 class="section-title">About the author</h1>
  <div class="row">
    <div class="col-xs-3 col-md-2">
      <img src="/assets/images/matej-latin-css-meetup.jpg" class="author">
    </div>
    <div class="col-xs-9 col-md-8">
      <p class="smaller-text no-margin"><em>I’m UX/UI designer from Slovenia. I live in London, UK and work at Auto Trader UK as a Lead UX/UI designer. I created things like <a href="http://betterwebtype.com">Better Web Type</a>, <a href="http://matejlatin.github.io/Gutenberg/">Gutenberg</a> and <a href="http://quotesontype.com">Quotes on Type</a></em>.</p>
    </div>
  </div>
</section>