<div id="msg" class="hidden">
  <div class="curtain fullScreen">
    <div class="table fullScreen">
      <div class="msgContainer fullScreen">
        <div id="msgContent">
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <a href="/contact">Contact</a> &ndash; <a href="/about-site">About site</a> &ndash; <a rel="alternate" type="application/rss+xml" href="https://matejlatin.co.uk/feed.xml">RSS</a> &ndash; <a href="http://twitter.com/matejlatin">Twitter</a>
  <p>&copy; matejlatin.co.uk 2018</p>
</footer>
<script type="text/javascript">
  $('.menu-icon').on('click', function(){
    console.log('click menu');
    $('#nav').removeClass();
    $('#menu').removeClass().addClass('fadeIn animated');
    $('.menu').removeClass('hide2');
  });
  $('.close-icon').on('click', function(){
    console.log('click close');
    $('#menu').removeClass().addClass('fadeOut animated').delay(300).queue(function(next){
      $('.menu').addClass('hide2');
      next();
    });
    // $('.menu').addClass('hide2');
  });
</script>
<script id="dsq-count-scr" src="//matejlatin.disqus.com/count.js" async></script>