<section class="related-posts">
  <h1 class="section-title">Related posts</h1>
  {% assign RELATED_POSTS_THRESHOLD = 5 %}

  <ul>
    {% assign related_post_count = 0 %}
    {% for post in site.related_posts %}
      {% if related_post_count == RELATED_POSTS_THRESHOLD %}
        {% break %}
      {% endif %}
      {% for tag in post.tags %}
        {% if page.tags contains tag %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <span class="light-font"> — {{ post.date | date_to_string }}</span>
          </li>
          {% assign related_post_count = related_post_count | plus: 1 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign posts_left = RELATED_POSTS_THRESHOLD | minus: related_post_count %}
    {% unless posts_left == 0 %}
      {% for post in site.related_posts %}
        {% if posts_left == 0 %}
          {% break %}
        {% endif %}

        {% assign already_related = false %}
        {% for tag in post.tags %}
          {% if page.tags contains tag %}
            {% assign already_related = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% unless already_related %}
          {% assign posts_left = posts_left | minus: 1 %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <span class="light-font"> — {{ post.date | date_to_string }}</span>
          </li>
        {% endunless %}
      {% endfor %}
    {% endunless %}
  </ul>
</section>