<section class="mailing-list subscribe" id="subscribe">
  <h1 class="section-title">Join my private mailing list</h1>
  <p>Pick Matej’s brain by subscribing to his personal notes and articles.</p>
  <form action="http://betterwebtype.us2.list-manage.com/subscribe/post" method="POST" class="cf">
    <input type="hidden" name="u" value="d2aaa3155cfda7e76c73817a0">
    <input type="hidden" name="id" value="807f0c73c7">

    <div id="mergeTable" class="mergeTable cf">
      <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
        <div class="field-group">
          <div class="field">
            <label for="mce-FNAME">First name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="e.g. John" autocapitalize="on" required>
          </div>
          <div class="field">
            <label for="MERGE0">Email address </label>
            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="e.g. john@gmail.com" required>
          </div>
          <div class="submit_container clear cf field">
            <input type="submit" class="button" name="submit" value="Join the list">
          </div>
        </div>
      </div>
    </div>

    <div class="hide2">
      <input type="text" name="b_d2aaa3155cfda7e76c73817a0_4a267a6451" tabindex="-1" value="">
    </div>
  </form>
</section>