<section class="mailing-list subscribe" id="subscribe">

  <h1 class="section-title">Join my private mailing list</h1>
  <p>Pick my brain by subscribing to my personal notes and articles.</p>

  <form class="ml-block-form" action="https://api.mailerlite.com/api/v2/groups/3640549/subscribers" data-code="w6q7q6" method="post">

    <div id="mergeTable" class="mergeTable cf">
      <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
        <div class="field-group">

          <div class="field">
            <label for="FNAME">First name</label>
            <input type="text" value="" class="" id="FNAME" name="fields[name]" placeholder="e.g. John" autocapitalize="on" required>
          </div>

          <div class="field">
            <label for="EMAIL">Email address</label>
            <input type="email" autocapitalize="off" autocorrect="off" name="fields[email]" id="EMAIL" size="25" value="" placeholder="e.g. john@gmail.com" required>
          </div>

          <input type="hidden" name="ml-submit" value="1">

          <div class="submit_container clear cf field">
            <input type="submit" class="button" name="submit" value="Join the list">
          </div>
        </div>
      </div>
    </div>

    <div class="hide2">
      <input type="text" name="b_d2aaa3155cfda7e76c73817a0_4a267a6451" tabindex="-1" value="">
    </div>
  </form>

</section>