/* Links
========================================================================== */

$color-link-normal: #254C79;
$color-link-hover: $color-link-normal;
$color-link-active: darken($color-link-normal, 10%);
$color-link-visited: darken($color-link-normal, 10%);

article a {
  background: transparent;
  color: $color-link-normal;
  transition: all .2s;
  text-decoration: none;
  // border-bottom: 1px solid #fff;

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover {
    color: $color-link-hover;
    // border-bottom: 1px solid $color-link-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-link-visited;

    &:hover {
      color: $color-link-hover;
    }
  }

  &:active {
    color: $color-link-active;
  }
}

.post-meta, figcaption {
  a {
    color: $color-medium-gray;
    text-decoration: underline!important;
    border-bottom: none;

    &:active,
    &:hover,
    &:visited {
      color: $color-medium-gray;
      border-bottom: none;
    }
  }
}

footer {
  a {
    color: $color-font-body;

    &:active,
    &:hover,
    &:visited {
      color: $color-font-body;
    }
  }
}

.post-list {
  a {
    text-decoration: none;
  }
}

.reversefootnote {
  font-family: sans-serif;
  color: $color-medium-gray;
  text-decoration: underline!important;
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }

  &:active,
  &:visited {
    color: $color-medium-gray;
  }
}

.menu-list a {
  border-bottom: none;

  @media screen and (min-width: $breakpoint) {
    &:hover {
      color: $color-font-body;
      border-bottom: none;
    }
  }
}

h2 a {
  color: $color-font-body;
  border-bottom: none;

  &:hover {
    text-decoration: underline;
    color: $color-font-body;
    border-bottom: none;
  }
  &:visited {
    color: $color-font-body;
  }
  &:visited:hover {
    color: $color-font-body;
    border-bottom: none;
  }
}