// Remove border when inside `a` element in IE 8/9/10.
img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
  overflow: hidden;
}

.featured {
  max-width: 100%;

  @media screen and (min-width: $breakpoint) {
    max-width: 683px;
  }
}

.author {
  margin-right: 0;
  max-width: 67px;

  @media screen and (min-width: $breakpoint) {
    max-width: 90px;
  }
}

.floatRight img {
  max-width: 150px;
}