blockquote {
  // margin-left: 1.4375rem;
  padding-left: 1rem;
  @include padding(0,0,0,1);

  p {
    max-width: 31rem;
    // font-style: italic!important;
    font-size: 90%;
  }

}

cite {
  display: block;
  font-style: normal;
  font-weight: 400;
}

// Quotes
figure blockquote {
  @include padding(1, 0);

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/padding';

    @include padding(2, 0, 1, 1);
  }

  p {
    @include font-size(1.75);
    @include line-height(1.5);
    @include margin-bottom(0.5);
    font-family: $custom-font-body;
    font-weight: 600;
    font-style: normal!important;
    max-width: $max-width;

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
      $leading: $leading-desktop;
      $leading-rem: $leading-rem-desktop;

      @import '../mixins/font-size';
      @import '../mixins/line-height';

      @include font-size(1.8);
      @include line-height(1.5);
      @include margin-bottom(0.5);
    }

  }
  cite {
    margin-bottom: 0;
  }
}
