article {
  p {
    font-family: $custom-font-body-2;
    font-weight: 400;
    font-style: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.f-f-gibson {
  font-family: $custom-font-body;
}

article .post-meta {
  font-family: $custom-font-body;
  hyphens: none;
}

p {
  // hanging-punctuation: first;
}

// Clear margin for line breaks
br {
  margin-bottom: 0;
}
// Enable small caps if available & fix letter spacing
abbr {
  letter-spacing: 0.1em;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: bold;
}

// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

// Address styling not present in IE 8/9.
mark {
  background: #ff0;
  color: #000;
}

small {
  @include line-height(.5);

  font-size: 70%;

  @media screen and (min-width: $breakpoint) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/line-height';

    @include line-height(.5);
  }

}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  padding-left: 2px;

  a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-family: $custom-font-body;
    color: $color-font-body!important;
  }
}

sub {
  bottom: -0.25em;
}

/* Paragraph
========================================================================== */

@if $paragraph-indent == true {

  article p + p {
    @include margin-top(-1);
    text-indent: #{ $leading};
    text-indent: #{ $leading-rem + 'rem'};
  }

  @media screen and (min-width: $breakpoint) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    article p + p {
      @include margin-top(-1);
    }
  }

  article p + p.indent {
    text-indent: #{ $leading-rem - 0.4 + 'rem'};
  }

  article p.attention-grabber + p.indent {
    text-indent: -0.4em;
  }

  .attention-grabber + p {
    margin-top: 0;
    text-indent: 0;
  }
}

// Attention grabber
.attention-grabber {
  @include font-size(1.2);

  @media screen and (min-width: $breakpoint) {
    font-size: 23px;
  }
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.post-meta {
  color: $color-medium-gray;
  @include font-size(0.9);
}

.light-font {
  color: $color-medium-gray;
}

.smaller-text {
  @include font-size(0.9);
}

.about-paragraph {
  max-width: 225px;
  @include line-height(0.8);
  @include margin-top(0.25);
}

strong, b {
  font-weight: 600;
}


p.indent {
  // margin-bottom: 0;
  text-indent: -0.4em;
}

@media screen and (min-width: $breakpoint) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  p.force-indent {
    text-indent: #{ $leading};
    text-indent: #{ $leading-rem + 'rem'};
    @include margin-top(-1);
}
}