@media (min-width: 32rem){
	p, h2, h3, small, hr {
		max-width: 25rem;
	}

	p:not(.intro){
		text-indent: 1.5rem;
	}

	.button {
		max-width: 150px;
	}
}

@media screen and (orientation: landscape){
	body, html {
		padding: 5% 0;
	}

	footer {
		padding: 15% 0 4%;
	}
}

@media screen and (orientation: landscape) and (min-width: 700px){
	body, html {
		padding: 7% 0;
	}

	h1 {
		font-size: 1.75rem;
	}

	// Mailchimp form
	.subscribe {
		form {
			max-width: 400px;
			margin: 2rem auto;
		}

		.mergeTable {
			float: left;
		}

		.submit_container {
			float: left;
		}

		input[type='email'] {
			width: 290px;
			padding: 10px 15px 8px;
		}

		input[type='submit'] {
			margin-top: 0;
			width: 100px;
			margin-left: 10px;
			padding: 11px 15px 10px;
		}
	}

	#msgContent {
		padding: 5%;
		max-width: 80%;

		.button {
			margin: 5% auto 0;
			max-width: 150px;
		}
	}
}

@media screen and (min-width: 1280px){
	body, html {
		padding: 5% 0;
	}

	footer {
		padding: 10% 0 0%;
	}

	html {
		font-size: 19px;
	}

	h1 {
		font-size: 1.75rem;
	}
}