body, html {
	background: white;
	margin: 0;
	padding: 10% 0;
}

footer {
	padding-top: 20%;
}

section {
	small {
		color: $gray;
	}
}

ul.elsewhere  {
	list-style: none;
	text-align: center;
	padding: 0;

	li {
		display: inline;
		padding: 0 15px;
	}
}

h3:hover {
	text-decoration: underline;
}

h3:active {
	color: black;
}