body, html {
	background: white;
	margin: 0;
	padding: 10% 0;
}

footer {
	padding-top: 20%;
}

section {
	small {
		color: $gray;
	}
}

ul.elsewhere  {
	list-style: none;
	text-align: center;
	padding: 0;

	li {
		display: inline;
		padding: 0 15px;
	}
}

h3:hover {
	text-decoration: underline;
}

h3:active {
	color: black;
}

hr {
	padding: 1rem 0;
	border: none;
	background-image: linear-gradient(to bottom, #E5E5E5 2px, transparent 2px);
  	background-position: left 50%;
	background-repeat: no-repeat;
	background-size: 40px;
	max-width: $widthMobile;
}

/* Mailchimp */
.subscribe {
	input {
		border: 2px solid #E5E5E5;
		border-radius: 0!important;
		-webkit-appearance: none!important;
		padding: 10px 15px 10px 17px;
		width: 100%;
		font-size: 14px;
	}
	input[type='email'] {
		@extend input;
		background: white;
	}
	input[type='email']:focus {
		// box-shadow: 0px 0px 0px 1px #E5E5E5 inset;
	}
	input[type='submit'] {
		@extend input;
		background: $darkBlue;
		color: white;
		margin-top: 10px;
		transition: all 0.3s;
		border: none;
		font-family: $fontHeadings;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-align: center;
	}
	input[type='submit']:hover {
		background: lighten($darkBlue, 10%);
	}
	input[type='submit']:active {
		background: darken($darkBlue, 15%);
	}
	form {
		margin: 10% auto;
		width: 80%;
	}
}

// Form Validation
.curtain {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(180, 181, 181, 0.6);
	z-index: 9;
}

.msgContainer {
	display: table-cell;
	vertical-align: middle;
}

#msgContent {
	background: white;
	max-width: 90%;
	margin: 0 auto;
	z-index: 10;
	text-align: center;
	padding: 10% 5% 5%;

	.button {
		margin: 10% auto 0;
	}

	p a:before {
		white-space: pre;
		content: '\A';
	}
}

.button {
	display: block;
	background: $darkBlue;
	color: white;
	padding: 5px 15px;
	transition: all 0.3s;

	&:hover {
		background: lighten($darkBlue, 10%);
	}

	&:active {
		background: darken($darkBlue, 15%);
	}
}